.wrap-repeater {
    overflow: auto;
    height: 350px;
    border: 1px solid black;
}

.viewport {
    overflow: auto;
    height: 350px;
    border: 1px solid black;
    
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(auto-fit, 240px);
    grid-template-rows: repeat(1, 240px);
    justify-content: space-around;
}

.card {
    border: 1px solid black;
    width: 240px;
    height: 240px;
    margin: 10px;
    display: inline-block;
}

img {
    width: 100%;
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px;
}

h4,
h5 {
    margin: 0;
}
